

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.soc-links svg {
  max-width: 100%;
  height: auto;
  fill: white;
}

.soc-links svg:hover {
    fill: var(--color-primary-light-coral);
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

blockquote {
  margin: 0;
}

:root {
  --color-primary-midnight-green: #014E56;
  --color-primary-light-coral: #f67e7e;
  --color-primary-white: #fff;
  --color-secondary-rapture-blue: #79c8c7;
  --color-secondary-police-blue: #2c6269;
  --color-secondary-deep-jungle-green: #004047;
  --color-secondary-sacramento: #012f34;
  --color-secondary-dark-green: #002529;
  --main-font: "Livvic", "Arial", sans-serif;
}

/* CONTAINER */
.container {
  max-width: 1160px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}


.header {
  background-color:var(--color-primary-midnight-green);
  
}

.navigation {
  display: flex;
  align-items: center;
  margin-top: 73px;
  margin-bottom: 129px;
}

.nav__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
}




.nav-margin {
  margin-right: 40px;
}

.nav-links {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
}

.nav-links:hover {
  color: var(--color-primary-light-coral);
}

.contact__nav-link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 24px;
  padding: 10px 33px;
  margin-left: auto;

}


.contact__nav-link:hover {
  background-color: #ffffff;
  color:var(--color-secondary-dark-green);
}

.hero {
  background-color:var(--color-primary-midnight-green);
  background-image: url(../imgs/hero-bg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + -700px) 1px;
  padding-bottom: 250px;
}


.hero__content {
  display: flex;
  position: relative;
  z-index: 20;
}

.hero__content::after{
  background-image: url(../imgs/features-bg.svg);
  background-color:var(--color-primary-midnight-green);
  background-repeat: no-repeat;
  padding-bottom: 250px;
  height: 200px;
  width: 358px;
  content: "";
  z-index: 500;
  position: absolute;
  top: 340px;
  right: 10px;
}


.hero__content-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.hero__heading {
  color: var(--color-primary-white);
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 100px;
  margin: 0;
  margin-right: auto;
  width: 635px;
}

.line {
  width: 50px;
  height: 4px;
  display: block;
}

.green-line {
  margin-bottom: 80px;
  background-color: var(--color-secondary-rapture-blue);
}


.hero__desc {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  width: 445px;
  margin: 0;
  color: var(--color-primary-white);
}


.talent-style {
  color: var(--color-primary-light-coral);
}



/* Features */

.features {
  position: relative;
  z-index: 100;
  background:var(--color-secondary-sacramento);
  padding-bottom: 140px;
  background-image: url(../imgs/feature-bg.svg);
  display: block;
  background-repeat:no-repeat;
  background-position: calc(50% + 680px) 500px; 
}


.features_content {
  display: flex;
  align-items: flex-start;
  padding-top: 198px; 
 
}

.features_content:before  {
  position: absolute;
  top: 140px;
  content: "";
  width: 50px;
  height: 4px;
  display: block;
  background-color: var(--color-primary-light-coral);
}

.features__left-section{
  margin-right: auto;
}
.features__left-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color:var(--color-primary-white);
  width: 445px;
  margin: 0;
  padding:0;
}

.features__list-container {
  list-style: none;
  margin: 0;
  padding:0;
  width: 550px;
  display: flex;
}

.index-feature--a::before {
  width:80px;
  height: 80px;
  background-image: url(../imgs/feature-ic1.svg);
  content:"";
  background-repeat: no-repeat;
  margin-right: 30px;
}

.index-feature--b::before {
  width:80px;
  height: 80px;
  background-image: url(../imgs/feature-ic2.svg);
  content:"";
  background-repeat: no-repeat;
  margin-right: 30px;
}

.index-feature--c::before {
  width:80px;
  height: 80px;
  background-image: url(../imgs/feaute-ic3.svg);
  content:"";
  background-repeat: no-repeat;
  margin-right: 30px;
}


.index-feature__item {
  width:500px;
  margin-bottom: 32px;
}


.index-feature__heading {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-primary-light-coral);
  margin-top: 0;
  margin-bottom: 16px;
}

.index-feature__desc {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  mix-blend-mode: normal;
  opacity: 0.8;
  color: var(--color-primary-white);
  margin: 0;

}


/* Success stories */
.stories {
  background-color: var(--color-primary-midnight-green);
  background-image: url(../imgs/success-bottom.svg);
  display: block;
  background-repeat:no-repeat;
  background-position: calc(50% + 680px) 665px; 
  padding-bottom: 140px;

}


.storires__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 140px;
  position: relative;
  z-index: 1;
}

.storires__content::before {
  content: "";
  background-image: url(../imgs/success-top.svg);
  width: 147px;
  height: 100px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.stories__heading {
  width: 932px;
  padding-bottom: 92px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  }

.stories__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1110px;
}




/* Why back image is not fully seen and it is cutting off */

.stories__item {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 350px;
height: 100%;
background-image: url(../imgs/string.svg);
background-repeat: no-repeat;
background-position: 50% 5%;

}



.stories__quote {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: var(--color-primary-white);
}

.stories__author {
  color:var(--color-secondary-rapture-blue);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  margin: 24px 0 2px 0;
}

.stories__title {
  font-style: italic;
  color: var(--color-primary-white);
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 32px;
}

.stories-green__part {
  color: var(--color-secondary-rapture-blue);
}

.stories__heading {
  color: var(--color-primary-white);
  margin: 0;
}









/* FOOTER */

.footer-red {
  background: rgba(246, 126, 126, 1);
  background-image: url(../imgs/footer-red.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + -583px) 145px;
  padding: 76px 0;
}

.footer-red__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 917px;
  margin: 0 auto;
}

.footer-red__heading {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: var(--color-secondary-sacramento)
}

.footer-red__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  padding: 9px 33px;
  border: 2px solid #012F34;
  box-sizing: border-box;
  border-radius: 24px;
  color: var(--color-secondary-sacramento);
}



.footer-red__link:hover {
  background: #012F34;
  border: 2px solid #012F34;
  color:white;
}


.footer {
  background-color: var(--color-secondary-dark-green);
}

.menu__list-links {
  display: flex;
  padding: 48px 0;
}


.footer-menu__list {
  display: flex;
  list-style: none;
  width: 140px;
  padding:0;
}

.address {
  color:var(--color-primary-white);
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.6;
  width: 168px;
  margin-left: 125px;
  margin-right: auto;
}

.telephone-num {
  color:var(--color-primary-white);
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.6;
  text-decoration: none;
  opacity: 0.6;
}

.footer-menu__last {
  display: flex;
  flex-direction: column;
  width: 255px;
}


.social__list {
  display: flex;
  justify-content: space-between;
  width: 106px;
  padding: 0;
  margin-left: auto;

}

.copyright {
  color: var(--color-primary-white);
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.6;
}







/* ABOUT PAGE */

.hero-about {
  background-color:var(--color-primary-midnight-green);
  background-repeat: no-repeat;
  background-image: url(../imgs/hero-about.svg);
  background-position: calc(50% + 676px) 40px;
}

.hero__content-about {
  display: flex;
  position: relative;
  z-index: 20;
  padding-bottom: 130px;
}



.hero__heading-about {
  color: var(--color-primary-white);
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 100px;
  margin: 0;
  margin-right: auto;
  width: 350px;
}



.line {
  width: 50px;
  height: 4px;
  display: block;
}

.green-line {
  margin-bottom: 80px;
  background-color: var(--color-secondary-rapture-blue);
}

.hero__desc-about {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  width: 730px;
  margin: 0;
  color: var(--color-primary-white);
}


.hero__desc-about::after  {
  position: absolute;
  top: -40px;
  content: "";
  width: 50px;
  height: 4px;
  display: block;
  background-color: var(--color-primary-light-coral);
}



.clients {
  background-color: var(--color-secondary-dark-green);
  text-align: center;
  background-image: url(../imgs/clients-bg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% - 575px) 0;
}


.clients__heading {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: var(--color-primary-white);
  padding: 140px 0 70px 0;
}

.clients__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-bottom: 140px;
}


.directors {
  background-color:var(--color-secondary-deep-jungle-green);

}



.directors__heading {
  color: var(--color-primary-white);
  margin:0;
  margin-bottom: 64px;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  padding-top: 140px;
}



.directors__list {
  width: 1110px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
   flex-wrap: wrap;
  list-style: none;
  padding-bottom: 28px;
  position: relative;
  z-index: 1;
  padding-bottom: 68px;
}
.directors__list::before {
  content: "";
  background-image: url(../imgs/success-top.svg);
  width: 147px;
  height: 100px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -158px;
}

.directors__item {
  width: 350px;
  margin-right: 30px;
  margin-bottom: 76px;
 }


.directors__item:nth-child(3n) {
  margin-right: 0;
}

.directors__cards {
  position: relative;
  z-index: 1;
  perspective: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.directors__front-card {
  background-color: var(--color-secondary-sacramento);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  backface-visibility: hidden;
  padding: 32px 24px 56px;
  padding-bottom: 56px;
  transition: transform 0.3s ease;
}

.team-member__card--rotated .directors__front-card {
  transform: rotateY(180deg);
}

.directors__back-card {
  
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: var(--color-secondary-dark-green);
  text-align: center;
  padding: 32px 24px 56px;
  padding-bottom: 56px;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: transform 0.3s ease;
  overflow: auto;
}

.directors__back-card::-webkit-scrollbar {
  width: 0.4em;
}

.directors__back-card::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-midnight-green);
  outline: 4px solid var(--color-secondary-dark-green);
}

.team-member__card--rotated .directors__back-card {
  /* transform: scale(1);
  transform-origin: center bottom; */
  transform: rotateY(360deg);
}


.directors__back-card-name {
  margin: 0;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-secondary-rapture-blue);
}

.card__back-blockquote {
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: var(--color-primary-white);
  margin-bottom: 24px;
}

.card__back-links {
  color: var(--color-primary-white);
  transition: color 0.3s ease;
}

.card__back-links:hover {
  color: var(--color-primary-light-coral);
}

.card__back-links:not(:last-child){
  margin-right: 16px;
}

.directors__img {
  display: block;
  margin: 0;
  border-radius: 50%;
  margin-bottom: 16px;
}

.directors__name {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-secondary-rapture-blue);
}

.directors__title {
  margin: 0;
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: var(--color-primary-white);
}

.directors__button {
  position: absolute;
  z-index: 10;
  left: calc(50% - 28px);
  bottom: -28px;
  width: 56px;
  height: 56px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: var(--color-primary-light-coral);
  background-image: url(../imgs/plus__buton.svg);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center center;
  transition: transform 0.3s ease,
  background-color 0.3s ease;
  cursor: pointer;
}

.directors__button:hover {
  background-color: var(--color-secondary-rapture-blue);
  cursor: pointer;
}

.team-member__card--rotated .directors__button {
  transform: rotate(45deg);
  background-color: var(--color-secondary-rapture-blue);
  cursor: pointer;
}

